@media (max-width:720xp) {

.nav {
    display: none;
}
.cv-btn{
    display: block;
}
.header{
    display: block;
}
.header_info{
    display: none;
}
.header_icons{
    h1{
        font-size: 36;
        font-weight: 600;
    }
}
.header_img img{
    display: block;
    width: 240px;
    margin: 0 auto;
}
}